<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">SQLiteDemoWithBlazorApp</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="add_student">
                <span class="oi oi-plus" aria-hidden="true"></span> Add Edit Student
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="location">
                <span class="oi oi-list-rich" aria-hidden="true"></span> location
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdataprovince">
                <span class="oi oi-list-rich" aria-hidden="true"></span> province
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdataprovince">
                <span class="oi oi-list-rich" aria-hidden="true"></span> province
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdatadistrict">
                <span class="oi oi-list-rich" aria-hidden="true"></span> district
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdatatambon">
                <span class="oi oi-list-rich" aria-hidden="true"></span> tambon
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdataconst_prenme">
                <span class="oi oi-list-rich" aria-hidden="true"></span> const_prenme
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdataconst_sex">
                <span class="oi oi-list-rich" aria-hidden="true"></span> const_sex
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdataconst_currlev">
                <span class="oi oi-list-rich" aria-hidden="true"></span> const_currlev
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdataconst_disability_type">
                <span class="oi oi-list-rich" aria-hidden="true"></span> const_disability_type
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdataconst_edulev">
                <span class="oi oi-list-rich" aria-hidden="true"></span> const_edulev
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdataconst_elderly_grp">
                <span class="oi oi-list-rich" aria-hidden="true"></span> const_elderly_grp
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdataconst_house_conditions">
                <span class="oi oi-list-rich" aria-hidden="true"></span> const_house_conditions
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdataconst_occ">
                <span class="oi oi-list-rich" aria-hidden="true"></span> const_occ
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdataconst_pertyp">
                <span class="oi oi-list-rich" aria-hidden="true"></span> const_pertyp
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdataconst_reg">
                <span class="oi oi-list-rich" aria-hidden="true"></span> const_reg
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdataconst_reltyp">
                <span class="oi oi-list-rich" aria-hidden="true"></span> const_reltyp
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdataconst_school">
                <span class="oi oi-list-rich" aria-hidden="true"></span> const_school
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdataconst_stsmar">
                <span class="oi oi-list-rich" aria-hidden="true"></span> const_stsmar
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdataconst_vaccination">
                <span class="oi oi-list-rich" aria-hidden="true"></span> const_vaccination
            </NavLink>
        </div>

    </nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
